*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    background-color: #252323;
    
}

.loginbox {
    width: 400px;
    height: 340px;
    background: #444;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px #000;
    padding: 20px 30px;
    border-top: 4px solid 017bab;
    color: white;
}

.loginbox h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.form-control {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
}


h1 {
    color: rgb(0, 41, 41);
}

h2 {
    color: darkslategray;
}

h3{
    color: rgb(65, 160, 160);
}

body {
    padding: 1px;
    border: 1px;
    margin: 1px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px) 0 64px;
    background-color: #708090;
    background-size: 64px 128px;
}

.cajas {
    background-color: #d9ecff;
    padding: 3%;
    box-shadow: 0 0 10px #000;
    margin: 5px;
}

.card-border{
    border: solid 5px #d9ecff;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}

.card-border:hover{
    transform: scale(1.05);
}

.img-banner{
    max-height: 600px;
    
}